body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #bec5e8, #cfc0f0);
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
.content {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    float: left;
    width: 670px;
    height: 650px;
    position: relative;
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: "sans-serif";
    width: 500px;
    font-size: 35px;
    color: #220c0c
}

#messages {
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
}

#clickSound {
    display: none
}

#code {
    float: left;
    width: 4000px;
    margin-top: 40px !important;
    margin-left: 250px !important;
    height: 300px;
    color: #333;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 21px

}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #23302a
}

#copyright {
    margin: 10px;
    text-align: center;
    width: 100%;
    color: #666
    position: absolute;
    bottom: 0; 
    width: %; 
    text-align: center;

}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#copyright a {
    color: #666
}

button {
    margin-left: 750px;
    margin-bottom: 50px; 
    padding: 15px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }